body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

span {
    color: red;
    padding: 15px;
}

.userprofile {
    display: flex;
    position: absolute;
    align-items: center;
    right: 25px;
    color: #DFB150;
    font-size: 24px;
}

.userprofile img{
    margin-left: 40px;
}


.container{
    position: absolute;
    box-sizing: border-box;
    background-color: #1E1E1E;
    padding: 25px;
    padding-left: 2px;
    top: 32px;
    left: 31px;
    border-radius: 20px;
    width: 544px;
    height: 1016px;
}

.accountpass-container{
    display: flex;
    flex-direction: column;
}

.account{
    display: flex;
    justify-content: center;
    width: 480px;
    height: 104px;
    background-color: #000000;
    border-radius: 20px;
}

.password{
    display: flex;
    justify-content: center;
    width: 480px;
    height: 104px;
    background-color: #000000;
    border-radius: 20px;
    margin-top: 20px;
}

.account a, .password a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  36px;
    font-weight: 600;
    color: white;
    width: 80%;
}

.divider-bar {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 52px;
    width: 368px;
    height: 1px;
    border: 4px;
    background-color: #DFB150;
}


.useraction-container{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.user-activity, .user-recipe, .recipe-ingredient, .difficulty-frequency, .quantity-category{
    display: flex;
    justify-content: center;
    width: 480px;
    height: 104px;
    background-color: #000000;
    border-radius: 20px;
    margin-top: 25px;
}

.user-activity a, .user-recipe a, .recipe-ingredient a, .difficulty-frequency a, .quantity-category a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  36px;
    font-weight: 600;
    color: white;
    width: 80%;
}

.search-container {
    width: 1291px;
    height: 925px;
    background-color: #1E1E1E; /* Adjust background color as needed */
    position: absolute;
    top: 130px; /* Adjust this value to position below the dropdown */
    left: 600px; /* Adjust this value to position next to the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
}

.searchbar {
    width: 100%;
    height: 104px;
    background-color: black; /* Adjust background color as needed */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; /* Space between searchbar and account-table */
    border-radius: 20px;
}

.searchbar input {
    width: 85%;
    height: 60%; /* Adjust the height as needed */
    font-size: 36px;
    border: none;
    background-color: black;
    color: white;
}

.searchbar input:focus {
    outline: none;
}

.usernametag{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 0;
    position: absolute;
    top: 130px; /* Adjust this value to position below the searchbar */
    left: 30px; /* Adjust this value to position at the rightmost */
}

.account-table {
    width: 800px;
    height: 100%;
    background-color: black; /* Adjust background color as needed */
    border-radius: 20px;
    border-spacing: 10px 0; /* Add vertical spacing */
    align-self: self-end;
}